@media (max-width: 400px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

  
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:url("https://res.cloudinary.com/dzw5skdae/image/upload/v1586571498/milky-way.jpg");
  }
  
  
h1{
    padding: 0;
    margin-top: 0px;
    color: white;
    font-size: 3.0em;
}

p {
    color: white;
    font-size: 3.0em;
}

.project-title {
    color: tomato;
    font-size: 2em;
}
  
  
.nav-pills {
    font-family: Lobster;
    font-size: 1.7em;
    background-color: black;
    /* opacity: .7; */
    
}

